<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head defaultPageTitle='Untitled'}}
    <style>
      .algolia-autocomplete .ds-dropdown-menu:before {
          display: block;
          position: absolute;
          content: "";
          width: 14px;
          height: 14px;
          background: #fff;
          z-index: 2;
          top: 9px;
          left: -7px !important;
          border-top: 1px solid #d9d9d9;
          border-right: 1px solid #d9d9d9;
          -webkit-transform: rotate(-136deg);
          transform: rotate(-136deg);
          border-radius: 2px;
      }
      .search-result-dropdown-menu:before {
          display: block;
          position: absolute;
          content: "";
          width: 14px;
          height: 14px;
          background: #fff !important;
          z-index: 2;
          top: 9px;
          border-top: 1px solid #d9d9d9;
          border-right: 1px solid #d9d9d9;
          -webkit-transform: rotate(-136deg);
          transform: rotate(-136deg);
          border-radius: 2px;
          left: -7px;
      }
      .nav-container .search-result-dropdown-menu {
        position: fixed;
        top: 65px;
        left: 13.5rem;
        width: 50%;
        overflow: visible;
        max-height: calc(100vh - 5.25rem);
        line-height: 1.5;
        z-index: 9999;
      }
      .nav-container .button {
        padding: 0px 14px;
        background-color: #FF9F00;
        color: #fff;
      }
      .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
          position: fixed !important;
          top: 65px !important;
          left: 13.5rem !important;
          z-index: 99 !important;
      }
      .search-selector {
        margin-right: 133px;
        text-transform: none;
      }
      @media screen and (max-width: 1024px) {
        .nav-container .search-result-dropdown-menu {
          top: 103px;
          left: 14.5rem;
        }
      }
      @media screen and (max-width: 768px) {
        .search-result-dropdown-menu:before {
            top: -6px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            left: 35px;
        }
        .nav-container .search-result-dropdown-menu {
            top: 100%;
            left: 0;
            width: 90vw;
            position: absolute !important;
        }
        .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
          position: absolute !important;
          top: 100% !important;
          left: 0px !important;
          z-index: 99 !important;
        }
        .algolia-autocomplete .ds-dropdown-menu:before{
            top: -6px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            left: 35px !important;
        }
      }
    </style>
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
    {{> header}}
    {{> body}}
    {{> footer}}
    <script>
      var element = document.querySelector('.search-result-dropdown-menu');
      if (element) {
        // Apply styles and additional class to element
        element.style.display = 'none';
        var element = document.querySelector('.search-result-dropdown-menu');
        var arrow = document.createElement('div');
        arrow.classList.add('search-result-dropdown-menu');
        element.appendChild(arrow);
      }

      function onSearch() {
        var searchInput = document.getElementById('search-input');
        if (searchInput.value) {
          element.style.display = 'block';
        } else {
          element.style.display = 'none';
        }
      }

      function onSearchChange(search_active) {
        var searchInputAlgolia = document.getElementById('search-input-algolia');
        var searchInput = document.getElementById('search-input');
        if (search_active === "algolia") {
          searchInputAlgolia.style.display = 'block';
          // searchInputAlgolia.style.lineHeight = '2.001';
          searchInput.style.display = 'none';
          setupAlgoliaDocsearch();
        } else {
          searchInputAlgolia.style.display = 'none';
          searchInput.style.display = 'block';
        }
      }

      // Add an event listener to the document
      document.addEventListener("click", function(event) {
        var searchInput = document.getElementById('search-input');
        // Check if the click was outside of the modal
        if (event.target !== element && event.target !== searchInput) {

          // Hide the modal
          searchInput.value = "";
          onSearch();
        }
      });
    </script>
  </body>
</html>
