<article class="card doc {{#if (eq page.component.latest.asciidoc.attributes.remove-sidenav undefined)}}max-width-reset{{/if}}">
  {{> toolbar}}
  {{#with page.title}}
    <h1 class="page">{{{this}}}</h1>
  {{/with}}
  {{#if (ne page.component.latest.asciidoc.attributes.remove-sidenav undefined)}}
    {{#if (and (eq page.module 'ROOT') (eq page.relativeSrcPath (or (extractKey (siteStartPage) 'asciidoc.attributes.page-relative-src-path') 'index.adoc')))}}
      {{> nav-tree-plain navigation=page.navigation}}
    {{/if}}
  {{/if}}
  {{{page.contents}}}
  {{> pagination}}
</article>
