<footer class="footer">
  <p>This page was built using the Antora default UI.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
  <p><a href="https://github.com/cppalliance/site-docs">https://github.com/cppalliance/site-docs</a></p>
  {{#if page.attributes.boost-branch}}
    <p>boost-branch: {{ page.attributes.boost-branch }}</p>
  {{/if}}
  {{#if page.attributes.commit-id}}
    <p>commit-id: {{ page.attributes.commit-id }}</p>
  {{/if}}
</footer>
