<div id="content">
  {{#if (eq page.layout '404')}}
    {{> article-404}}
  {{else}}
    {{! The contents panel }}
    {{#if (or (ne page.component.latest.asciidoc.attributes.page-toc undefined) (ne page.attributes.page-toc undefined))}}
      {{> toc}}
    {{/if}}
    {{> article}}
    {{/if}}
</div>
