<div class="toolbar" role="navigation">
{{> nav-toggle}}
{{> breadcrumbs}}
{{#if env.SITE_SEARCH_PROVIDER}}
  <div class="search-container">
    <div id="search-field" class="field has-filter">
      <input id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
    </div>
  </div>
{{/if}}
{{> pagination-spirit}}
<button class="theme-toggle" aria-label="Toggle dark mode" title="Toggle theme" style="display:none">
  <span class="material-symbols-outlined theme-icon-light">light_mode</span>
  <span class="material-symbols-outlined theme-icon-dark">dark_mode</span>
</button>
</div>
