/* Antora UI Default Styles */
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

/* Global Styles */
:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-pasteboard: rgb(229, 231, 235);
  --color-light-gray: rgb(204, 204, 204);
  --color-dark-blue: rgb(8, 40, 58);
  --color-dark-gray: rgb(66, 66, 66);
  --max-width: 80rem;
}

html.is-clipped--nav {
  overflow-y: visible;
}

.body {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 769px) {
  .body {
    display: flex;
    gap: 1rem;
    padding: 4rem 1rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .body {
    display: flex;
    padding: 4rem 1rem 1rem;
  }
}

body.article {
  background-color: var(--color-pasteboard);
}

.max-width-reset {
  max-width: none;
}

.dark .nav-link,
.dark .nav-menu a,
.dark .nav-text {
  color: var(--color-light-gray);
}

/* Document Styles */
main.article {
  min-width: 0;
}

html.is-clipped--nav main.article {
  display: none;
  visibility: hidden;
}

html:not(.is-clipped--nav) main.article {
  display: block;
  visibility: visible;
}

.doc {
  padding: 1rem 1rem 4rem;
}

@media screen and (min-width: 1024px) {
  .doc {
    margin: 0;
  }

  .content {
    gap: 1rem;
  }
}

/* Card Styles */
.card {
  background-color: var(--color-white);
  position: relative;
}

.dark .card {
  background-color: #08283a;
}

@media screen and (min-width: 769px) {
  .card {
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;
  }
}

@media screen and (max-width: 770px) {
  .card {
    position: absolute;
  }
}

/* Navigation Styles */
aside.nav {
  background-color: var(--color-white);
  height: auto;
}

.dark aside.nav,
.dark div.toolbar {
  background-color: transparent !important;
}

html.is-clipped--nav .nav-close {
  display: block;
  visibility: visible;
}

.nav {
  position: initial;
  box-shadow: none;
}

.nav .panels {
  height: 100%;
}

.nav-list {
  margin-left: 0;
}

.nav-list > .nav-list {
  margin-left: 1rem;
}

.nav-list li {
  padding-top: 0.45rem;
}

.nav-menu {
  padding: 0;
}

.nav-panel-menu {
  overflow-y: auto;
}

/* Navigation Toggle Styles */
.nav-toggle.is-active ~ .spirit-nav {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 769px) {
  .nav-toggle.is-active ~ .spirit-nav {
    display: block;
    visibility: visible;
  }
}

.nav-toggle {
  background-position-x: 0;
  background-position-y: 50%;
}

.nav-close {
  display: none;
  background: url(../img/back.svg) 0% 40% no-repeat;
  background-size: 41.5%;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0;
  height: 3rem;
  width: 3rem;
  margin-right: -0.25rem;
}

.nav-container.is-active {
  position: static;
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .nav-container {
    position: static;
    visibility: visible;
    flex: 0 0 20%;
    min-width: 14rem;
  }

  .nav-container.is-active {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

.nav-menu a,
.nav-link,
.nav-text {
  color: var(--color-black);
}

/* Toolbar Styles */
.toolbar {
  background-color: #fff;
  box-shadow: unset;
  height: 2rem;
  top: 3px !important;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 96%;
}

.dark div.toolbar {
  background-color: var(--color-dark-blue);
}

.toolbar .material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 20 !important;
  color: var(--color-black);
  font-size: 18px;
}

.dark .toolbar .material-symbols-outlined {
  color: var(--color-white);
}

@media screen and (min-width: 769px) {
  .toolbar {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .toolbar {
    align-items: center;
  }
}

.toolbar .breadcrumbs ul,
.breadcrumbs {
  padding-left: 0;
}

/* Breadcrumbs Styles */
.breadcrumbs a {
  color: var(--color-dark-gray);
  font-weight: 500;
}

.breadcrumbs li::after {
  padding: 0 0.25rem;
}

@media screen and (min-width: 769px) {
  .breadcrumbs {
    display: block;
    visibility: visible;
  }
}

/* Auxiliary Styles */
.edit-this-page {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 0;
}

/* Top Navigation Styles */
.spirit-nav {
  padding-top: 0;
}

.spirit-nav a {
  width: 1.5rem;
}

/* Table of Contents Styles */
.toc.sidebar .toc-menu {
  top: 0;
}

.toc.sidebar {
  height: fit-content;
}

.toc.sidebar .toc-menu h3 {
  height: auto;
  justify-content: flex-start;
  color: var(--color-dark-gray);
}

.toc.embedded {
  padding-top: 0.5rem;
}

/* Pagination Styles */
nav.pagination {
  padding: 1rem;
}

nav.pagination a::after,
nav.pagination a::before {
  width: 0.75rem;
}
