/* Antora UI Default Styles */
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css";

/* Global Styles */
:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-pasteboard: rgb(229, 231, 235);
  --color-light-gray: rgb(204, 204, 204);
  --color-dark-blue: rgb(8, 40, 58);
  --color-dark-gray: rgb(66, 66, 66);
  --max-width: 80rem;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

html.is-clipped--nav {
  overflow-y: visible;
}

@media screen and (min-width: 769px) {
  .body {
    display: flex;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-left: 1rem;
  }
}

body.article {
  background-color: var(--color-pasteboard);
}

.max-width-reset {
  max-width: none;
}

.dark .nav-link,
.dark .nav-menu a,
.dark .nav-text {
  color: var(--color-light-gray);
}

/* Document Styles */

html.is-clipped--nav div#content {
  display: none;
  visibility: hidden;
}

html:not(.is-clipped--nav) div#content {
  display: block;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .doc {
    margin: 0;
  }
}

/* Navigation Styles */
aside.nav {
  position: initial;
  background-color: var(--color-white);
  box-shadow: none;
  height: auto;
  overflow-y: auto;
}

.dark aside.nav,
.dark div.toolbar {
  background-color: transparent !important;
}

html.is-clipped--nav .nav-close {
  display: block;
  visibility: visible;
}

.nav .panels {
  height: auto;
}

.nav-list {
  margin-left: 0;
}

.nav-list > .nav-list {
  margin-left: 1rem;
}

.nav-menu {
  padding: 0;
}

.nav-panel-menu {
  overflow-y: auto;
}

/* Navigation Toggle Styles */
.nav-toggle.is-active ~ .spirit-nav {
  display: none;
  visibility: hidden;
}

.nav-toggle {
  background-position-x: 0;
  background-position-y: 50%;
}

.nav-close {
  display: none;
  background: url(../img/back.svg) 0% 40% no-repeat;
  background-size: 41.5%;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0;
  height: 2rem;
  width: 3rem;
  margin-right: -0.25rem;
}

.dark .nav-close {
  background: url(../img/dark-back.svg) 0% 40% no-repeat;
  background-size: 41.5%;
}

.nav-container.is-active {
  position: static;
  padding: 0.5rem 1rem 2rem;
}

.nav-menu a,
.nav-link,
.nav-text {
  color: var(--color-black);
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
    visibility: hidden;
  }

  .nav-toggle.is-active ~ .spirit-nav {
    display: block;
    visibility: visible;
  }

  .nav-container {
    position: sticky;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    height: calc(100vh - 2rem);
    visibility: visible;
    min-width: 16rem;
    overflow-y: auto;
    font-size: 1rem !important;
  }

  .nav-container.is-active {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

/* Toolbar Styles */
.toolbar {
  background-color: #fff;
  box-shadow: unset;
  height: 2rem;
  position: static;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dark div.toolbar {
  background-color: var(--color-dark-blue);
}

.toolbar .material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 700,
    "GRAD" 200,
    "opsz" 20 !important;
  color: var(--color-black);
  font-size: 18px;
}

.dark .toolbar .material-symbols-outlined {
  color: var(--color-white);
}

@media screen and (min-width: 769px) {
  .toolbar {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .toolbar {
    align-items: center;
  }
}

.toolbar .breadcrumbs ul,
.breadcrumbs {
  padding-left: 0;
}

/* Breadcrumbs Styles */
.breadcrumbs a {
  color: var(--color-dark-gray);
  font-weight: 500;
}

.breadcrumbs li::after {
  padding: 0 0.25rem;
}

@media screen and (min-width: 769px) {
  .breadcrumbs {
    display: block;
    visibility: visible;
  }
}

/* Auxiliary Styles */
.edit-this-page {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 0;
}

/* Top Navigation Styles */
.spirit-nav {
  padding-top: 0;
}

.spirit-nav a {
  width: 1.5rem;
}

/* Table of Contents Styles */
.toc.sidebar .toc-menu {
  top: 0;
}

.toc.sidebar {
  height: fit-content;
}

.toc.sidebar .toc-menu h3 {
  height: auto;
  justify-content: flex-start;
  color: var(--color-dark-gray);
}

.toc.embedded {
  padding-top: 0.5rem;
}

/* Pagination Styles */
nav.pagination {
  padding: 1rem;
}

nav.pagination a::after,
nav.pagination a::before {
  width: 0.75rem;
}

.topnavbar + div.body {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}
